pkgbase = devin-desktop
	pkgdesc = A team of agents for every engineer — Devin Desktop
	pkgver = 3.3.18
	pkgrel = 1
	url = https://devin.ai/desktop
	install = devin-desktop.install
	arch = x86_64
	license = LicenseRef-Devin Desktop
	depends = glibc>=2.28
	depends = gcc-libs
	depends = gtk3
	depends = nss
	depends = mesa
	depends = alsa-lib
	depends = libsecret
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = libxkbcommon
	depends = dbus
	depends = expat
	depends = libcups
	depends = util-linux-libs
	depends = libxkbfile
	depends = libxrandr
	optdepends = libnotify: Desktop notifications
	optdepends = org.freedesktop.secrets: Keyring support
	optdepends = libdbusmenu-glib: KDE global menu
	optdepends = gtk2: GTK2 theme support
	optdepends = gvfs: Trash functionality
	conflicts = devin-desktop-bin
	conflicts = windsurf-bin
	conflicts = windsurf
	options = !strip
	source = devin-desktop-3.3.18.deb::https://windsurf-stable.codeiumdata.com/linux-x64-deb/stable/16737566f57f3b53bde136375fe0544eca12fac4/Devin-linux-x64-3.3.18.deb
	sha256sums = 694ba5797d6ba5133ffbb73a244f47c020358b1fd66366da2dc08b116c609fdd

pkgname = devin-desktop
